{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
{#{{ form_widget(form) }}#}

<div class="row "><!--ancien password-->
    <div class="input-field col s12">
        <i class="material-icons izy-color-primary-font prefix">lock_outline</i>
        {{ form_widget(form.current_password) }}
        {{ form_label(form.current_password, 'Mot de passe actuel') }}
        <span class="help-block red-text">
            <p>{{ form_errors(form.current_password) }}</p>
        </span>
    </div>
</div>

<div class="row "><!--password-->
    <div class="input-field col s12">
        <i class="material-icons izy-color-primary-font prefix">lock_outline</i>
        {{ form_widget(form.plainPassword.first) }}
        {{ form_label(form.plainPassword, 'Nouveau mot de passe') }}
        <span class="help-block red-text">
            <p>{{ form_errors(form.plainPassword) }}</p>
        </span>
    </div>
</div>

<div class="row "><!--password_confirmation-->
    <div class="input-field col s12">
        <i class="material-icons izy-color-primary-font prefix">lock_outline</i>
        {{ form_widget(form.plainPassword.second) }}
        {{ form_label(form.plainPassword, 'Confirmer mot de passe') }}
        <span class="help-block red-text">
            <strong></strong>
        </span>
    </div>
</div>

<div>
    <i class="mdi-content-send right"></i>
    <button type="submit" class="btn izy-color-primary-bg  waves-effect waves-light right">
        {{ 'change_password.submit'|trans }}
    </button>
</div>
{{ form_end(form) }}
