{% extends "::Backend/base.html.twig" %}


{% block content %}
    <h3>Temoignages</h3>

    {% block fil_ariane %}
        <ol class="breadcrumb record_actions">
            <li ><a href="{{ path('back_homepage') }}">Dashboard</a></li>
            <li class="active"><em>Liste</em></li>
        </ol>
    {% endblock fil_ariane %}


    {% for message in app.session.flashbag.get("info") %}

        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div class="">
        <div class="row">
            <a href="{{ path('back_testimonials_new') }}" class="btn btn-primary pull-right">Creer nouveau</a>
        </div>
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Liste</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr class="filters">
                    <th></th>
                    <th><input type="text" class="form-control" placeholder="Content" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Author" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Createdat" disabled></th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for testimonial in testimonials %}
                    <tr>
                        <td><img class="img-responsive" src="{% if testimonial.image %}{{ asset(testimonial.webPath()) }}{% else %}{{ asset('/public/Backend/img/no-img.jpg') }}{% endif %}" alt="temoin_image"/></td>
                        <td><a href="{{ path('back_testimonials_edit', { 'id': testimonial.id }) }}">{{ testimonial.content|raw }}</a></td>
                        <td><a href="{{ path('back_testimonials_edit', { 'id': testimonial.id }) }}">{{ testimonial.author }}</a></td>
                        <td>{% if testimonial.createdAt %}{{ testimonial.createdAt|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ testimonial.note }}</td>
                        <td>
                            <a href="{{ path('back_testimonials_deleted', { 'id': testimonial.id }) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
