{% extends "::Backend/base.html.twig" %}


{% block content %}
    <h3>{{ page.name }}</h3>

    {% block fil_ariane %}
        <ol class="breadcrumb record_actions">
            <li ><a href="{{ path('back_homepage') }}">Dashboard</a></li>
            <li ><a href="{{ path('bp_back_page_index') }}">Liste</a></li>
            <li class="active"><em>Edition</em></li>
        </ol>
    {% endblock fil_ariane %}


    <div class="">
        <div class="row">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger pull-right">
            {{ form_end(delete_form) }}
        </div>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <hr>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-success btn-block"/>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

