{% extends "::Backend/base.html.twig" %}


{% block content %}
    <h1>Definition</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ definition.id }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ definition.logo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('back_concept_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('back_definition_edit', { 'id': definition.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
