{% extends "::Backend/base.html.twig" %}


{% block content %}
    <h3>{{ pole.translate.name }}</h3>

    {% block fil_ariane %}
        <ol class="breadcrumb record_actions">
            <li ><a href="{{ path('back_homepage') }}">Dashboard</a></li>
            <li ><a href="{{ path('back_staff') }}">Liste des poles</a></li>
            <li class="active"><em>édition</em></li>
        </ol>
    {% endblock fil_ariane %}

    <div class="">
        <div>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger pull-right">
            {{ form_end(delete_form) }}
        </div>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-success"/>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
